extends layout

block content
  h1= title
  div.container
    each friend in friends
      include stream
  script(src='/socket.io/socket.io.js')
  script
    var socket = io.connect('http://localhost:3000');